html{
  font-size: 50px;
}

*{
  margin: 0;
}

body{
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}

.container{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 2000px){
  .profile-container{
    font-size: 0.6rem;
  }
  .search-icon-container{
    font-size: 0.6rem;
  }
  .menu-container{
    font-size: 0.5rem;
  }
  .navbar-backgound{
    height: 2rem;
  }
  .navbar-container{
    height: 2rem;
  }
  .hamburger-container{
    display: none;
  }
}

@media (max-width: 1026px) {
  .profile-container{
    font-size: 0.3rem;
  }
  .search-icon-container{
    font-size: 0.3rem;
  }
  .menu-container{
    font-size: 0.25rem;
  }
  .Logo-container{
    font-size: 55%;
  }
  .navbar-backgound{
    height: 1.5rem;
  }
  .navbar-container{
    height: 1.5rem;
  }
  .hamburger-container{
    display: none;
  }
}

/* md */
@media (max-width: 650px) {

  .menu-container{
    display: none;
  }
  .search-icon-container{
    display: none;
  }
  .profile-container{
    display: none;
  }
  .hamburger-container{
    display: contents;
  }
  
}

.navbar-backgound{
  /* height: 2rem; */
  background-color: black;
  top: 0;
  position: sticky;
}

.navbar-container{ 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: purple; */
  /* height: 2rem; */
  top: 0;
  position: absolute;
  width: 100%;

}

.Logo-container{
  flex: 1;
  text-wrap: nowrap;
  /* background-color: red; */
  padding: 0 5;
  cursor: pointer;
}

.menu-container{
  flex: 12;
  /* background-color: green; */
  padding: 0 10;
  /* font-size: 0.5rem; */
}

.menu-list{
  display: flex;
  list-style: none;
}

.menu-list-item{
  margin-right: 30;
  cursor: pointer;
}

.search-container{
  flex: 9;
  /* background-color: red; */
  padding: 0 10;

}

.search-icon-container{
  text-align: right;
  /* font-size: 0.6rem; */
  cursor: pointer;
  /* background-color: purple; */
}

.profile-container{
  flex: 1;
  /* background-color: brown; */
  padding: 0 20;
  /* font-size: 0.6rem; */
  font-weight: bold;
  cursor: pointer;
  text-align: right;
}

.hamburger-icon-container{
  padding: 0 20;
  align-content: left;
}