*{
  margin: 0;
}

html{
  font-size: 50px;
  background-color: black;
}

@media (max-width: 2000px){
  .siteHeader{
    height: 1.5rem;
  }
  .siteHeader_Desktop_container{
    height: 1.5rem;
  }
  .siteLogo{
    font-size: 1rem;
  }
  .siteHeader_Navigation{
    font-size: 0.4rem;
    gap: 0.6rem;
    padding: 0 0.4rem;
  }
  .searchRegister_container{
    gap: 0.6rem;
  }
  .searchRegister_Account{
    font-size: 0.7rem;
  }
  .searchRegister_Icon{
    font-size: 0.6rem;
  }
  .movie_list{
    justify-content: space-between;
  }

}

@media (max-width: 1000px){
  .siteHeader{
    height: 1rem;
  }
  .siteHeader_Desktop_container{
    height: 1rem;
  }
  .siteLogo{
    font-size: 0.5rem;
  }
  .siteHeader_Navigation{
    font-size: 0.2rem;
    gap: 0.3rem;
    padding: 0 0.2rem;
  }
  .searchRegister_container{
    gap: 0.3rem;
  }
  .searchRegister_Account{
    font-size: 0.35rem;
  }
  .searchRegister_Icon{
    font-size: 0.3rem;
  }
  .mainpage{
    font-size: 0.5rem;
  }
  /* .movie_list{
    justify-content: space-around;
  } */
  
}

@media (max-width: 651px){

  .siteHeader_Navigation_Item{
    display: none;
  }
  .movie_container_title{
    margin: auto;
  }
  /* .mainpage{
    font-size: 0.25rem;
  } */
  .movie_list{
    justify-content: space-evenly;
  }

}

body{
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: ghostwhite;
}

.siteHeader{
  /* border: dotted whitesmoke; */

  top: 0;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.80);
}

.siteHeader_Desktop_container{
  /* border: solid white; */

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.siteLogo{
  /* border: solid salmon; */
  
  text-wrap: nowrap;
  text-align: right;
  cursor: pointer;
}

.siteHeader_Desktop_container > nav{
  /* border: solid purple; */

  flex: 1;
}

.siteHeader_Navigation{
  /* border: solid orange; */

  display: flex;
  list-style: none;
  justify-content: left;
  flex-wrap: nowrap;
}

.siteHeader_Navigation_Item{
 /*  border: dotted blue; */

  cursor: pointer;
  text-wrap: nowrap;
}


.searchRegister_container{
  /* border: dashed palevioletred; */
  
  display: flex;
  align-items: center;
  justify-content: center;

}

.searchRegister_Account{
  /* border: solid palevioletred; */
  
  cursor: pointer;
  font-weight: bold;
}

.searchRegister_Icon{
  /* border: solid white; */
  
  cursor: pointer;
}

.mainpage{
  /* border: dotted 10px violet; */

  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* .movie_container{
  border: solid pink;
} */

.movie_container_item{
  /* border: dotted rebeccapurple; */

  margin-top: 0.50rem;
}

.movie_container_title{
  /* border: dashed green; */


  /* margin: auto; */
  width: fit-content;
  cursor: pointer;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  /* color: rgb(37, 37, 37); */

}
 .movie_list {
  /* border: dotted red; */

  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-content: flex-start;
}

.movie_item {
  /* border: solid purple; */

  display: flex;
  flex-direction: column;
  flex: none;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-right: 0.25rem;
}

.title {
  /* border: dashed yellowgreen; */
  
  text-wrap: wrap;
  /* color: rgb(37, 37, 37); */
  font-size: 0.35rem;
  /* font-weight: bold; */
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 0.25rem;

}

.movie_img{
 /*  border: solid yellow; */

  height: 8rem;
  border-radius: 0.5rem;
  
  margin-left: auto;
  margin-right: auto;
}

/* .siteFooter{
  border: solid rgb(170, 170, 37);
} */

