html{
  font-size: 50px;
}

*{
  margin: 0;
}

body{
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}

.container{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 100%;
  }
}
/* xl */
@media (max-width: 1000px) {
  .container{
    max-width: 100%;
  }
  .menu-container{
    display: none;
  }
}
/* lg */
/*   @media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .menu-container{
      display: none;
  }
} */
/* md */
/*   @media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
} */
/* sm */
/*   @media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
} */
/* xs */
/*   @media (max-width: 475px) {
  .container {
    width: 100%;
  }
} */

.navbar-backgound{
  height: 2rem;
  background-color: black;
  top: 0;
  position: sticky;
}

.navbar-container{ 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: purple; */
  height: 2rem;
  top: 0;
  position: absolute;
  width: 100%;

}

.Logo-container{
  flex: 1;
  text-wrap: nowrap;
  /* background-color: red; */
  padding: 0 5;
  cursor: pointer;
}

.menu-container{
  flex: 12;
  /* background-color: green; */
  padding: 0 10;
  font-size: 0.5rem;
}

.menu-list{
  display: flex;
  list-style: none;
}

.menu-list-item{
  margin-right: 30;
  cursor: pointer;
}

.search-container{
  flex: 9;
  /* background-color: red; */
  padding: 0 10;

}

.search-icon-container{
  text-align: right;
  font-size: 0.6rem;
  cursor: pointer;
}

.profile-container{
  flex: 1;
  /* background-color: brown; */
  padding: 0 20;
  font-size: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
}